* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

@mixin flexCenter{
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  background-image: url('./images/they-are-playing-video-game-with-pair-virtual-glasses-generative-ai.avif');
  min-height: 120vh;
  width: 100%;
}

.navbar {
  display: flex;
  width: 100%;
  padding: 16px 32px;
  position: fixed;
  justify-content: space-between;
  align-items: center;

  .items-container-right {
    @include flexCenter();
    gap: 24px;
    height: 100%;
    width: auto;
  }

  .nav-icon {
    height: 36px;
    width: 36px;
  }

  .nav-round-icon-container {
    @include flexCenter();
    border-radius: 8px;
    height: 44px;
    width: 44px;
    background-color: #021e45;
  }

  .nav-icon-round {
    height: 24px;
    width: 24px;
  }
}

.links-container {
  @include flexCenter();
  width: 100%;
  ul {
    display: flex;
    gap: 28px;
  }
  li {
    color:rgb(227, 239, 239);
    list-style-type: none;
  }
}

.navmenu-container {
  @include flexCenter();
  width: 100%;
  .navmenu {
    @include flexCenter();
    background: linear-gradient(to right, rgb(1, 8, 19), rgb(10, 44, 82));
    min-width: 280px;
    width: auto;
    min-height: 80px;
    border-radius: 16px;
    gap: 64px;
    padding: 0px 24px;
  }

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .navmenu-item {
    @include flexCenter();
    gap: 8px;
    p {
      color: white;
    }
    .nav-item-icon-image {
      height: 28px;
      width: 28px;
    }
    .nav-item-dropdown {
      height: 8px;
      width: 12px;
    }
  }
}
