* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

@mixin flexCenter{
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  background-image: url('./images/they-are-playing-video-game-with-pair-virtual-glasses-generative-ai.avif');
  min-height: 120vh;
  width: 100%;
}

.navbar {
  display: flex;
  width: 100%;
  padding: 16px 32px;
  position: fixed;
  justify-content: space-between;
  align-items: center;

  .items-container-right {
    @include flexCenter();
    gap: 24px;
    height: 100%;
    width: auto;
  }

  .nav-icon {
    height: 36px;
    width: 36px;
  }

  .nav-round-icon-container {
    @include flexCenter();
    border-radius: 8px;
    height: 44px;
    width: 44px;
    background-color: #021e45;
  }

  .nav-icon-round {
    height: 24px;
    width: 24px;
  }
}

.links-container {
  @include flexCenter();
  width: 100%;
  ul {
    display: flex;
    gap: 28px;
  }
  li {
    color:rgb(227, 239, 239);
    list-style-type: none;
  }
}

.navmenu-container {
  @include flexCenter();
  width: 100%;
  flex-direction: column;
  gap: 16px;
  position: relative;
  .navmenu {
    @include flexCenter();
    justify-content: flex-start;
    background: linear-gradient(to right, rgb(1, 8, 19), rgb(10, 44, 82));
    width: 600px;
    min-height: 60px;
    border-radius: 16px 32px 32px 16px;
    gap: 32px;
    padding: 0px 24px;
    position: relative;
    &.search-mode {
      display: none;
    }

    button {
      &.search {
        position: absolute;
        right: 0px;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        @include flexCenter();
        padding: 24px;
        img {
          height: 100%;
          width: auto;
        }
      }
    }
  }

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .navmenu-item {
    @include flexCenter();
    gap: 8px;
    p {
      color: white;
    }
    .nav-item-icon-image {
      height: 28px;
      width: 28px;
    }
    .nav-item-dropdown {
      height: 8px;
      width: 12px;
    }
  }

  .childmenu {
    position: absolute;
    top: 80px;
    @include flexCenter();
    flex-direction: column;
    width: 600px;;
    background: linear-gradient(to right, #2b424a, #797468);
    border-radius: 12px;
    padding: 28px;
    gap: 28px;
    z-index: 100;

    .childmenu-headings {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #283c3e;
      width: 100%;
      padding: 8px 16px;
      border-radius: 8px;
      h5 {
        color: white;
        margin: 0px;
      }
    }

    .childmenu-items {
      &.platforms {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        padding: 0px 16px;
        .item {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          width: 30%;
          gap: 12px;
          img {
            height: 28px;
            width: 28px;
          }
          span {
            color: white;
          }
        }
      }
      &.prepaid-cards {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        padding: 0px 24px;
        .item {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 30%;
          gap: 12px;
          img {
            height: 28px;
            width: auto;
          }
          span {
            color: white;
          }
        }
      }
    }
  }

  .search-container {
    display: none;
    &.search-mode {
      display: flex;
    }
  }

  .search {
    position: relative;
    height: 60px;
    width: 600px;
    padding: 4px 24px;
    outline: none;
    border: none;
    border-radius: 4% 4% 4% 4% / 50% 50% 50% 50%;
    background: linear-gradient(to right, #fd7106, #fd441b);
    display: flex;
    align-items: center;
    justify-content: space-between;

    input {
      height: 100%;
      width: 75%;
      background-color: transparent;
      border: none;
      outline: none;
      &::placeholder {
        color: white;
        font-size: 16px;
      }
    }

    span {
      color: white;
      font-size: 12px;
    }

    button {
      @include flexCenter();
      &.close {
        position: absolute;
        right: -48px;
        color: white;
        font-size: 48px;
        img {
          width: 20px;
          height: 20px;
        }
      } 
    }
  }

  .feature {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 200px;
    gap: 8px;
    margin: 120px 0px 140px 0px;
    .content {
      display: flex;
      flex-direction: column;
      width: 30%;
      padding: 0;
      span {
        &.countdown {
          color: white;
          background-color: rgb(222, 230, 230, .1);;
          width: fit-content;
          padding: 8px 16px;
        }
      }

      h1 {
        color: white;
      }

      .pricing {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 20px;
        span {
          &.price{
            color: white;
            font-size: 32px;
          }
        }
      }

      .discount {
        background-color: rgb(248, 113, 2);
        padding: 6px 12px;
        color: white;
        font-size: 12px;
        border-radius: 4px;
        clip-path: polygon(83% 0, 90% 28%, 100% 73%, 99% 100%, 0 100%, 0 0);
      }
    }
  }

  .trends {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 200px;
    gap: 16px;
    .headings {
      display: flex;
      justify-content: space-between;
      h3 {
        color: white;
      }
      button {
        color: white;
        border: 1px solid white;
        border-radius: 8px;
        margin: 0;
        padding: 8px 16px;
        height: fit-content;
        background-color: rgb(222, 230, 230, .1);
        
      }
    }
    .cards {
      display: flex;
      width: 100%;
      gap: 24px;
      .card {
        width: 33%;
        gap: 8px;
        display: flex;
        flex-direction: column;
        .image-container {
          width: 100%;
          height: auto;
          border-radius: 12px;
          position: relative;
          img {
            width: 100%;
            height: auto;
          }
          span {
            position: absolute;
            bottom: 1px;
            left: -2px;
            background-color: rgb(248, 113, 2);
            padding: 6px 12px;
            color: white;
            font-size: 12px;
            border-radius: 4px;
            clip-path: polygon(83% 0, 90% 28%, 100% 73%, 99% 100%, 0 100%, 0 0);
          }
        }
        .info {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          h5 {
            color: white;
            margin: 0px;
            padding: 0px;
          }
        }
      }
      
    }
  }
}

.show {
  display: flex;
}

.hide {
  visibility: hidden;
}

@media (max-width: 1280px) {
  .navmenu-container {
    .feature, .trends {
      padding: 0px 100px;
      margin: 40px 0px 30px 0px;
      .content {
        width: 70%;
      }
    }
  }
}

@media (max-width: 768px) {
  .links-container {
    & ul {
      margin-top: 100px;
    }
  }

  .navmenu-item {
    p {
      display: none;
    }
  }

  .navmenu-container {
    .navmenu, .search-container, .childmenu {
      width: 420px;
    }

    .feature, .trends {
      padding: 0px 100px;
      margin: 40px 0px 30px 0px;
      .content {
        width: 100%;
      }
    }
  }
}

@media (max-width: 480px) {
  .links-container {
    display: none;
    & ul {
      margin-top: 100px;
      @include flexCenter();
      flex-direction: column;
      flex-wrap: wrap;
      gap: 0
    }
  }

  .navmenu-container {
    padding-top: 100px;
  }

  .navmenu-item {
    p {
      display: none;
    }
  }

  .navmenu-container {
    .navmenu, .search-container, .childmenu {
      width: 350px;
      padding: 12px;
      min-height: 40px;
      .nav-item-icon-image {
        height: 14px;
        width: 14px;
      }
      button {
        &.search {
          position: absolute;
          right: 0px;
          height: 30px;
          width: 30px;
          padding: 12px;
          img {
            height: 100%;
            width: auto;
          }
        }
      }
    }

    .childmenu {
      position: absolute;
      top: 180px;
    }
  
    .search {
      position: relative;
      height: 30px;
      width: 300px;
      padding: 2px 12px;
      border-radius: 4% 4% 4% 4% / 50% 50% 50% 50%;
      background: linear-gradient(to right, #fd7106, #fd441b);
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      input {
        height: 100%;
        width: 70%;
        background-color: transparent;
        border: none;
        outline: none;
        &::placeholder {
          color: white;
          font-size: 12px;
        }
      }
  
      span {
        color: white;
        font-size: 10px;
        width: 30%;
      }
  
      button {
        @include flexCenter();
        &.close {
          position: absolute;
          right: -48px;
          color: white;
          font-size: 48px;
          img {
            width: 20px;
            height: 20px;
          }
        } 
      }
    }
    
    .feature, .trends {
      padding: 0px 40px;
      margin: 20px 0px 20px 0px;
      width: 300px;
      .content {
        width: 100%;
        h1 {
          font-size: 24px;
        }
      }

      .headings {
        align-items: center;
        button {
          padding: 4px 8px;
        }
      }

      .trends {
        padding: 20px;
      }
      .cards {
        flex-direction: column;
        align-items: center;
        .card {
          width: 90%;
        }
      }
    }
  }
}
